<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.Weeko">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".designsystem.DesignSystemPreviewActivity"
            android:exported="false"
            android:label="@string/design_system_title" />
        <activity
            android:name=".feature.coursedetail.CourseDetailPreviewActivity"
            android:exported="false"
            android:label="@string/course_detail_preview_title" />
        <activity
            android:name=".feature.editor.CourseEditorActivity"
            android:exported="false"
            android:label="@string/course_editor_title" />
    </application>
</manifest>
